<main id="mainNewBooking">
    
    <div class="menuBox">
        {{> navButtons }}
    </div>
    
    <div class="bigboicontainer">
        <h1 class="loginHeader">Book a facility</h1>
        <form>
            <div class="form-group">
                <!-- facility selection -->
                <button type="button" id="facilityMenu" class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Choose facility
                </button>
        
        
                <div class="dropdown-menu" id="dropdownMenu">
                    {{#each facilityNames}}
                    <a class="dropdown-item facilityDropdown" href="#" data-value="{{this.id}}"
                        data-name="{{this.name}}">{{this.name}}</a>
                    {{/each}}
        
                </div>
            </div>
            <div class="form-group">
                <!-- user selection -->
                <button type="button" id="userMenu" class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Choose user name
                </button>
                <div class="dropdown-menu" id="dropdownMenu2">
                    {{#each userNames}}
                    <a class="dropdown-item userDropdown" href="#" data-value="{{this.id}}"
                        data-name="{{this.name}}">{{this.name}}</a>
                    {{/each}}
        
                </div>
            </div>
        
            <!-- day (date) and start and end times -->
            <div class="form-group">
                <label for="dateInput">Date of event</label>
                <input type="date" id="dateInput" class="form-control" placeholder="Day">
                <label for="startTimeInput">Start time (must input hour, minutes, AM/PM)</label>
                <input type="time" id="startTimeInput" class="form-control" placeholder="09:00:AM">
                <label for="endTimeInput">End time (must input hour, minutes, AM/PM)</label>
                <input type="time" id="endTimeInput" class="form-control" placeholder="10:00:AM">
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary">Request</button>
        </form>
    </div>
                

<!-- Table to display bookings -->
<div class="bigboicontainer resultsTable">
    <h3>Facility bookings</h3>
    <table class="table  border border-primary">
        <thead>
            <tr>
                <th scope="col">Facility</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>
        <!-- Table to display bookings -->
        <div class="row">
            <div class="col12 col8-md">
                <table class="table  border border-primary">
                    <thead>
                        <tr>
                            <th scope="col">Facility</th>
                            <th scope="col">Start time</th>
                            <th scope="col">End time</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="js/newBooking.js"></script>

</main>